In [86]:
import os
import csv
import pandas as pd

us_state = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
}

emp_ids = []
emp_first_names = []
emp_last_names = []
emp_dobs = []
emp_ssns = []
emp_states = []
csvpathA = os.path.join("employee_data1.csv")
csvpathB = os.path.join("employee_data2.csv")

EmployA_df = pd.read_csv(csvpathA, encoding="utf-8")
EmployB_df = pd.read_csv(csvpathB, encoding="utf-8")

sum_df=pd.DataFrame(EmployA_df)

sum_df = EmployA_df.append(EmployB_df,ignore_index=True)

# Splitting the name into first and Last name
sum_df["FN"]= sum_df.Name.str.split(' ', expand = True)[0]
sum_df["LN"]= sum_df.Name.str.split(' ', expand = True)[1]

#Format the DOB into DD-MM-YYYY format
sum_df["DateOfBirth"]= pd.to_datetime(sum_df['DOB']).dt.strftime("%d-%m-%Y")

#lookup and replace with small state
new_sumdf= sum_df.replace({"State": us_state})

#print(new_sumdf)
# Masking the social Security number
 
for index,row in new_sumdf.iterrows():  
   split_ssn = list(row["SSN"])
   #print("SSN",row["SSN"],"Split SSN", split_ssn)
   split_ssn[0:3] = ("*", "*", "*")
   split_ssn[4:6] = ("*", "*")
   joined_ssn = "".join(split_ssn)
   new_sumdf.set_value(index,"NEWSSN", joined_ssn)

print(new_sumdf)




# Then store it into a list
#emp_ssns = emp_ssns + [joined_ssn]

      Emp ID                Name         DOB          SSN State         FN  \
0        214       Sarah Simpson   12/4/1985  282-01-8166    FL      Sarah
1         15       Samantha Lara    9/8/1993  848-80-7526    CO   Samantha
2        411       Stacy Charles  12/20/1957  658-75-8526    PA      Stacy
3        166        Michelle Roy   7/29/1978  794-25-3944    MI   Michelle
4         39       Joseph Rogers   3/28/1985  525-40-3515    MN     Joseph
5        423         Erica Hines  10/13/1975  034-90-6153    NY      Erica
6        192           Zoe Patel  12/20/1967  037-50-0817    WI        Zoe
7        162      Matthew Harvey   1/20/1990  244-53-0346    TN    Matthew
8        131         Shawn Davis   7/21/1961  309-08-1581    WV      Shawn
9         20       April Baldwin    8/7/1961  068-61-2014    MO      April
10       246     Vincent Daniels    1/6/1972  319-38-2754    MT    Vincent
11       525          Ann Fields   8/22/1960  752-98-7911    IA        Ann
12       392     Jeffrey Pearson    5/5/1979  171-82-2578    IL    Jeffrey
13       474     Heather Johnson   9/23/1989  724-30-0904    GA    Heather
14       478    Melissa Fletcher   3/14/1979  899-91-6881    RI    Melissa
15       101    Kimberly Alvarez    9/4/1984  138-08-8680    LA   Kimberly
16        52      Monica Jimenez    4/8/1988  835-26-1668    ND     Monica
17       182      Steven Johnson   5/28/1962  026-20-7070    NE     Steven
18       637          Sarah Wood   6/15/1972  235-96-6715    FL      Sarah
19       510      Jesus Petersen   3/28/1958  133-75-0770    OK      Jesus
20       122      Rhonda Rosales   4/10/1963  498-27-0286    AL     Rhonda
21       294   Nicole Richardson    9/9/1981  369-83-5228    LA     Nicole
22       327     Jennifer Mendez   7/20/1977  736-41-1994    OR   Jennifer
23       145        Sandra Petty   1/30/1981  702-18-7629    NC     Sandra
24       565      Michael Hester   4/13/1987  022-21-6836    SD    Michael
25       590        Joseph Brown   8/28/1982  517-03-4744    NH     Joseph
26       340     Michelle Cooper   8/23/1993  056-59-2306    WA   Michelle
27       176        Barbara Wise  12/15/1991  894-82-7662    IN    Barbara
28        63       Carol Rosales   7/20/1984  874-92-4907    NJ      Carol
29       121          Mark Villa   2/24/1969  700-15-2207    MS       Mark
...      ...                 ...         ...          ...   ...        ...
2740     804        Gail Johnson    6/6/1990  812-88-3613    CT       Gail
2741     212        Connie Olsen  12/30/1988  784-63-6860    OH     Connie
2742     417      Michael Church  11/27/1959  754-04-5079    KY    Michael
2743     555         Mike Wilson  12/23/1962  696-71-7316    MN       Mike
2744     519      Crystal Fisher  11/10/1972  797-94-9745    ID    Crystal
2745     232      Charles Duncan   2/14/1980  424-69-9851    NC    Charles
2746     898         Roy Perkins  10/10/1988  474-91-8096    FL        Roy
2747      24      Dustin Jackson    1/6/1979  627-48-2345    HI     Dustin
2748    2086     Laura Contreras   5/17/1962  648-01-6546    WY      Laura
2749    1709      Timothy Morton    7/2/1993  712-03-3871    SD    Timothy
2750    1606       John Morrison   1/10/1984  215-78-4470    MA       John
2751    1917         Joseph Wood   11/2/1957  355-11-5341    FL     Joseph
2752     928        Oscar Romero    3/8/1987  733-98-5634    IL      Oscar
2753    1175      Shannon Wilson  11/19/1969  356-71-3974    UT    Shannon
2754    1500     James Armstrong   7/23/1975  499-78-4550    ND      James
2755     848      Ronnie Ellison   4/22/1980  238-55-2267    WA     Ronnie
2756     216       Joshua Wilcox   9/27/1986  652-11-7150    OK     Joshua
2757     274         Bryan Rocha    2/3/1964  601-30-8996    AZ      Bryan
2758     756       Matthew Flynn   10/5/1957  570-68-1385    VA    Matthew
2759    1925       Amanda Turner  12/28/1960  175-25-7060    MN     Amanda
2760    1731        Steven White    3/5/1959  145-14-4892    MA     Steven
2761    1019        Andrea Berry   2/14/1989  006-84-6290    AL     Andrea
2762    1155         Shawn Burke    1/1/1960  751-20-9071    CA      Shawn
2763     449       Rhonda Wilson    1/8/1987  113-68-0832    VT     Rhonda
2764     115            Jay Hart   5/14/1963  013-46-6255    CT        Jay
2765    1636     Ashley Martinez   4/13/1986  081-06-5385    NV     Ashley
2766      84  Elizabeth Johnston    8/3/1974  129-88-2936    IL  Elizabeth
2767    1478      Andrew Acevedo   6/29/1991  759-08-6963    MT     Andrew
2768     384      Michelle Lynch   3/28/1972  680-54-8040    PA   Michelle
2769    1582      Cristian Gibbs    2/8/1963  321-19-9478    CT   Cristian

              LN DateOfBirth       NEWSSN
0        Simpson  04-12-1985  ***-**-8166
1           Lara  08-09-1993  ***-**-7526
2        Charles  20-12-1957  ***-**-8526
3            Roy  29-07-1978  ***-**-3944
4         Rogers  28-03-1985  ***-**-3515
5          Hines  13-10-1975  ***-**-6153
6          Patel  20-12-1967  ***-**-0817
7         Harvey  20-01-1990  ***-**-0346
8          Davis  21-07-1961  ***-**-1581
9        Baldwin  07-08-1961  ***-**-2014
10       Daniels  06-01-1972  ***-**-2754
11        Fields  22-08-1960  ***-**-7911
12       Pearson  05-05-1979  ***-**-2578
13       Johnson  23-09-1989  ***-**-0904
14      Fletcher  14-03-1979  ***-**-6881
15       Alvarez  04-09-1984  ***-**-8680
16       Jimenez  08-04-1988  ***-**-1668
17       Johnson  28-05-1962  ***-**-7070
18          Wood  15-06-1972  ***-**-6715
19      Petersen  28-03-1958  ***-**-0770
20       Rosales  10-04-1963  ***-**-0286
21    Richardson  09-09-1981  ***-**-5228
22        Mendez  20-07-1977  ***-**-1994
23         Petty  30-01-1981  ***-**-7629
24        Hester  13-04-1987  ***-**-6836
25         Brown  28-08-1982  ***-**-4744
26        Cooper  23-08-1993  ***-**-2306
27          Wise  15-12-1991  ***-**-7662
28       Rosales  20-07-1984  ***-**-4907
29         Villa  24-02-1969  ***-**-2207
...          ...         ...          ...
2740     Johnson  06-06-1990  ***-**-3613
2741       Olsen  30-12-1988  ***-**-6860
2742      Church  27-11-1959  ***-**-5079
2743      Wilson  23-12-1962  ***-**-7316
2744      Fisher  10-11-1972  ***-**-9745
2745      Duncan  14-02-1980  ***-**-9851
2746     Perkins  10-10-1988  ***-**-8096
2747     Jackson  06-01-1979  ***-**-2345
2748   Contreras  17-05-1962  ***-**-6546
2749      Morton  02-07-1993  ***-**-3871
2750    Morrison  10-01-1984  ***-**-4470
2751        Wood  02-11-1957  ***-**-5341
2752      Romero  08-03-1987  ***-**-5634
2753      Wilson  19-11-1969  ***-**-3974
2754   Armstrong  23-07-1975  ***-**-4550
2755     Ellison  22-04-1980  ***-**-2267
2756      Wilcox  27-09-1986  ***-**-7150
2757       Rocha  03-02-1964  ***-**-8996
2758       Flynn  05-10-1957  ***-**-1385
2759      Turner  28-12-1960  ***-**-7060
2760       White  05-03-1959  ***-**-4892
2761       Berry  14-02-1989  ***-**-6290
2762       Burke  01-01-1960  ***-**-9071
2763      Wilson  08-01-1987  ***-**-0832
2764        Hart  14-05-1963  ***-**-6255
2765    Martinez  13-04-1986  ***-**-5385
2766    Johnston  03-08-1974  ***-**-2936
2767     Acevedo  29-06-1991  ***-**-6963
2768       Lynch  28-03-1972  ***-**-8040
2769       Gibbs  08-02-1963  ***-**-9478

[2770 rows x 9 columns]